<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <handlers>
            <add name="PythonHandler" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\inetpub\mywwwroot\SwagPopUps.com\.venv\Scripts\wfastcgi.exe" resourceType="File" />
        </handlers>
    </system.webServer>
</configuration>
